/* common css */
.noto-serif{
  font-family: "Noto Serif", serif;
}
.inter{
  font-family:"Inter", sans-serif;;
}
.orange-color{
  color: #E95A08;
}
.bold{
  font-weight: bold;
  font-size: 22px;
}
.size{
  font-size: 22px;
  margin-bottom: 5px;
}
.link-color{
  color: #8987A1;
}

.cart-btn{
  width: 100%;
  height: 50px;
  color: white;
  background-color: #E95A08;
  border: none;
  cursor: pointer;
  font-weight: bold;

}
.margin-tb{
  margin: 30px 0px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
html,width{
  width: 100%;
}
header{
  width: 100%;
}
nav{
  width: 80%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}
nav ul{
  display: flex;
  gap: 48px;
}
nav ul li{
  list-style: none;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color:black;
}
 nav li div{
  display: flex;
  gap: 10px;
  align-items: center;
}
.banner{
   width: 80%;
   height: 470px;
   margin: 47px auto;
   display: flex;
   align-items: end;
}
.hero-text{
  width: 50%;
  height: 299px;
}
.hero-text h1{
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 13px;
}
.hero-text p{
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}
.hero-text span{
  color: #E95A08;
}
.hero-img{
  width: 50%;
  height: 355px;
}
.hero-img img{
  width: 100%;
  height: 100%;
}

/* cart section */
.cart-section{
  width: 100%;
  height: auto;
  margin: 100px auto;
}
.cart-text {
  text-align: center;
}
.cart-text h1{
  font-size: 3.4rem;
}
.cart-text p{
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 0px 200px;
}
.add-to-cart-div{
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 255px);
  column-gap: 20px;
  row-gap: 30px;

}
.cart{
  text-align: center;
}
.cart img{
  width: 100%;
}
ul {
  list-style-type: disc; /* অথবা square, circle, etc. */
  padding-left: 20px; /* space so bullet দেখা যায় */
}

/* second section */
.second-section{
  width: 100%;
  position: relative;
  margin-top: 200px;

}
.child{
  width: 80%;
  height: 590px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.store-img{
  width: 50%;
  height: 100%;
}
.badge-img{
  position: absolute;
  width: 280px;
  left: 35%;
  top: -20%;
}
.text-child{
  width: 45%;
  height: 100%;
}
.inner-child{
  width: 100%;
  margin: 80px auto;
}
.inner-child h1{
  font-size: 50px;
  margin-bottom: 20px;
}
.inner-child ul li{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 15px;
  margin-bottom: 20px;
}


.third-section{
  width: 100%;
}
.third-sec-child{
  width: 80%;
  margin: 100px auto;
}
.third-sec-text{
  text-align: center;
  margin-bottom: 20px;
}
.third-sec-text h1{
  font-size: 3rem;
}
.third-sec-text p{
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px 100px;
}
.third-sec-img{
  width: 100%;
  display: flex;
  gap: 20px;
  height: 425px;
}
.bloom-ana-div{
  width: 367px;
  height: 100%;
}
.bloom-plants{
  height: 48%;
  margin-bottom: 5%;
  border-radius: 10px;
  background: url(./assets/deal-bloom.png) no-repeat center center/cover;
}
.ana-plants{
  height: 48%;
  border-radius: 10px;
  background: url(./assets/deal-ana.png) no-repeat center center/cover;
  font-size: 15px;

}
.zabo-plants{
  width:753px; 
  background:url(./assets/deal-zabo.png) no-repeat center/cover;
  border-radius: 10px;
}
.zabo-plants h1{
  font-size: 35px;
}
.zabo-plants a{
  font-size: 28px;
}
.third-sec-img a{
  color: white;
}
.dark-bg{
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: grid;
  place-items: center;
}
.flex{
  display: flex;
  gap: 10px;
  color: white;
  margin-bottom: 5px;
}
.border-right{
  border-right: 2px solid;
  padding-right: 17px;

}
.discount-text{
  text-align: center;
}

.fourth-section{
  background: url(./assets/news-letter-bg.png) no-repeat center center/cover;
  height: 400px;
  display: grid;
  place-items: center;
  text-align: center;
}
.fourth-section h1{
  font-size: 2.7rem;
  color: white;
  margin-bottom:23px;
}
.input-div{
  width: 830px;
  display: flex;
}
.input-div input{
  font-size: 1rem;
  width: 80%;
  color: rgba(0, 0, 0, 0.5);
  height: 50px;
  border: none;
  outline: none;
  padding:15px 20px;
}
.input-div button{
  width: 20%;
  height: 50px;
  border: none;
  background-color: #E95A08;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
footer{
  width: 100%;
  height: 300px; 
}
.footer-child{
  width: 80%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
.footer-child li{
  list-style: none;
}
.footer-child a{
  text-decoration: none;
  color: gray;
}
.font-color{
  color: gray;
}
.logo-div{
  width: 220px;
}
.logo-div img{
  margin-bottom: 10px;
}
.link-div ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.icon-div{
  display: flex;
  align-items: center;
  height: 40px;
  gap: 30px;
}

@media (max-width:576px) {
  nav{
    width: 100%;
    height: 60px;
    padding: 0px 16px;
  }
  nav ul{
  display: flex;
  gap: 0;
}
  nav a{
    display: none;
  }
  .logo-img{
    width: 83px;
    height: 60px;
  }
  .cart-img{
    height: 24px;
  }
  .banner{
    width: 100%;
    height: auto;
    padding: 0px;
    margin-top: 70px;
    flex-direction: column-reverse;
  }
  .hero-img{
  width: 100%;
  height: auto;
  }
  .hero-text{
    width: 100%;
    padding: 0px 16px;
    margin-top: 20px;
  }
  .hero-text h1{
    font-size: 30px;
  }
  .hero-text p{
    font-size: 20px;
  }
   .cart-section{
  margin-top: -20px;
 }
  .cart-text h1{
  font-size: 2.4rem;
 }
 .cart-text p{
  font-size: 1rem;
  padding: 0px 20px;
 }
.add-to-cart-div{
  width: 100%;
  margin-top:50px;
  padding: 0px 17px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 30px;
}
.bold{
  font-weight: bold;
  font-size: 16px;
}
.size{
  font-size: 16px;
  margin-bottom: 5px;
}

.second-section{
  margin-top: 0;
}

.child{
  width: 90%;
  height: auto;
  margin: auto;
  flex-direction: column;
}

.badge-img{
  display: none;
}
.store-img{
  width: 100%;
}
.text-child{
  width: 100%;
  height: 100%;
}
.inner-child{
  width: 100%;
  margin: 10px auto;
}
.inner-child h1{
  font-size: 22px;
  margin-bottom: 20px;
}
.inner-child ul li{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  margin-bottom: 16px;
}

.third-sec-child{
  width: 100%;
  margin: 80px auto;
}
.third-sec-text h1{
  font-size: 2rem;
}
.third-sec-text p{
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px 10px;
}
.third-sec-img{
  width: 100%;
  flex-direction: column;
  height: auto;
  padding: 0px 10px;
}
.bloom-ana-div{
  width: 100%;
  height: auto;
}
.bloom-plants{
  width: 100%;
  height: 180px;
  margin-bottom: 5%;
  font-size: 12px;
}
.ana-plants{
  width: 100%;
  height: 180px;
  font-size: 12px;

}
.zabo-plants{
  width:100%;
  height: 172px; 
}
.zabo-plants h1{
  font-size: 18px;
}
.zabo-plants a{
  font-size: 13px;
}

.fourth-section h1{
  font-size: 1.5rem;
  color: white;
  margin-bottom:23px;
}
.input-div{
  width: 100%;
  display: flex;
}
.input-div input{
  font-size: 1rem;
  width: 80%;

}
.input-div button{
  width: 30%;
  font-size: 0.8rem;
  padding: 0px 0px;
}
.fourth-section-child{
  margin: 0px 10px;
}
footer{
  width: 100%;
  height: auto; 
}
.footer-child{
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  margin: 50px auto;
}
.logo-div{
  margin-bottom: 20px;
  width: 100%;
}
.link-div ul{
  gap: 20px;
  padding: 0;
  margin-bottom: 20px;
}


}
@media (min-width:576px) and (max-width:992px) {
  nav{
    width: 90%;
    height: 80px;
    padding: 0px 16px;
  }
  nav ul{
  display: flex;
  gap: 0;
}
  nav a{
    display: none;
  }
  .banner{
    width: 90%;
    height: auto;
    padding: 0px 16px;
  }
  .hero-text{
    display: grid;
    place-items: end;
  }
  .hero-text h1{
    font-size: 35px;
  }
  .hero-text p{
    font-size: 20px;
  }
  
  .hero-img{
   display: grid;
   place-items: end;
  }
  .hero-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .cart-section{
    width: 90%;
  }
  .cart-text h1{
  font-size: 2.4rem;
 }
 .cart-text p{
  font-size: 1rem;
  padding: 0px 20px;
 }

.add-to-cart-div{
  width: 100%;
  margin-top:50px;
  padding: 0px 17px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 30px;
}
.bold{
  font-weight: bold;
  font-size: 16px;
}
.size{
  font-size: 16px;
  margin-bottom: 5px;
}
.second-section{
  width: 90%;
  margin-top: 20px;
  margin: auto;
}
.badge-img{
  display: none;
}
.child{
  width: 95%;
  height: 350px;
  margin: auto;
}

.store-img{
  width: 50%;
}
.text-child{
  width: 50%;
  height: 100%;
}
.inner-child{
  width: 90%;
  margin: 30px auto;
}
.inner-child h1{
  font-size: 25px;
  margin-bottom: 5px;
}
.inner-child ul li{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  margin-bottom: 5px;
}
.third-sec-child{
  width: 90%;
}
.third-sec-text h1{
  font-size: 2.5rem;
}
.third-sec-text p{
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px 20px;
}
.third-sec-img{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
}
.bloom-ana-div{
  width: 100%;
  height: auto;
}
.bloom-plants{
  width: 100%;
  height: 280px;
  margin-bottom: 5%;
  font-size: 18px;
}
.ana-plants{
  width: 100%;
  height: 280px;
  font-size: 18px;

}
.zabo-plants{
  width:100%;
  height: 272px; 
}
.zabo-plants h1{
  font-size: 28px;
}
.zabo-plants a{
  font-size: 13px;
}
.fourth-section h1{
  font-size: 1.5rem;
  color: white;
  margin-bottom:23px;
}
.fourth-section-child{
  width: 80%;
}
.fourth-section h1{
  font-size: 1.5rem;
  color: white;
  margin-bottom:23px;
}
.input-div{
  width: 100%;
  display: flex;
}
.input-div input{
  font-size: 1rem;
  width: 80%;

}
.input-div button{
  width: 30%;
  font-size: 0.8rem;
  padding: 0px 0px;
}
.fourth-section-child{
  margin: 0px 10px;
}
.footer-child{
  width: 90%;
}
}
@media (min-width:992px) and (max-width:1200px) {
  nav{
    width: 90%;
  }
  .banner{
   width: 90%;
   height: auto;
   margin: 100px auto;
}
.hero-text{
  height: auto;
}
.hero-text h1{
  font-size: 3rem;
}



/* cart section */
.cart-section{
  width: 90%;
  height: auto;
}

.cart-text h1{
  font-size: 3.3rem;
}
.cart-text p{
  font-size: 1.3rem;
  padding: 0px 120px;
}
.add-to-cart-div{
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

/* second section */
.second-section{
  width: 90%;
  position: relative;
  margin:200px auto;
}
.child{
  width: 100%;
  height: 590px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.third-section{
  width: 100%;
}
.third-sec-child{
  width: 90%;
}

}

