/* common css */
.noto-serif{
  font-family: "Noto Serif", serif;
}
.inter{
  font-family:"Inter", sans-serif;;
}
.orange-color{
  color: #E95A08;
}
.bold{
  font-weight: bold;
  font-size: 22px;
}
.size{
  font-size: 22px;
  margin-bottom: 5px;
}

.cart-btn{
  width: 100%;
  height: 50px;
  color: white;
  background-color: #E95A08;
  border: none;
  cursor: pointer;
  font-weight: bold;

}
.margin-tb{
  margin: 30px 0px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
html,width{
  width: 100%;
}
header{
  width: 100%;
}
nav{
  width: 80%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}
nav ul{
  display: flex;
  gap: 48px;
}
nav ul li{
  list-style: none;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color:black;
}
 nav li div{
  display: flex;
  gap: 10px;
  align-items: center;
}
.banner{
   width: 80%;
   height: 470px;
   margin: 50px auto;
   display: flex;
   align-items: end;
}
.hero-text{
  width: 50%;
  height: 299px;
}
.hero-text h1{
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 13px;
}
.hero-text p{
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}
.hero-text span{
  color: #E95A08;
}
.hero-img{
  width: 50%;
  height: 355px;
}
.hero-img img{
  width: 100%;
  height: 100%;
}

/* cart section */
.cart-section{
  width: 100%;
  height: auto;
  margin: 100px auto;
}
.cart-text {
  text-align: center;
}
.cart-text h1{
  font-size: 3.4rem;
}
.cart-text p{
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 0px 200px;
}
.add-to-cart-div{
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 255px);
  column-gap: 20px;
  row-gap: 30px;

}
.cart{
  text-align: center;
}
.cart img{
  width: 100%;
}
ul {
  list-style-type: disc; /* অথবা square, circle, etc. */
  padding-left: 20px; /* space so bullet দেখা যায় */
}

/* second section */
.second-section{
  width: 100%;
  position: relative;
  margin-top: 200px;

}
.child{
  width: 80%;
  height: 590px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.store-img{
  width: 50%;
  height: 100%;
}
.badge-img{
  position: absolute;
  width: 280px;
  left: 35%;
  top: -20%;
}
.text-child{
  width: 45%;
  height: 100%;
}
.inner-child{
  width: 100%;
  margin: 80px auto;
}
.inner-child h1{
  font-size: 50px;
  margin-bottom: 20px;
}
.inner-child ul li{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 15px;
  margin-bottom: 20px;
}

@media (max-width:576px) {
  nav{
    width: 100%;
    height: 60px;
    padding: 0px 16px;
  }
  nav ul{
  display: flex;
  gap: 0;
}
  nav a{
    display: none;
  }
  .logo-img{
    width: 83px;
    height: 60px;
  }
  .cart-img{
    height: 24px;
  }
  .banner{
    width: 100%;
    height: auto;
    padding: 0px;
    margin-top: 70px;
    flex-direction: column-reverse;
  }
  .hero-img{
  width: 100%;
  height: 250px;
  }
  .hero-text{
    width: 100%;
    padding: 0px 16px;
    margin-top: 20px;
  }
  .hero-text h1{
    font-size: 30px;
  }
  .hero-text p{
    font-size: 20px;
  }
   .cart-section{
  margin-top: -20px;
 }
  .cart-text h1{
  font-size: 2.4rem;
 }
 .cart-text p{
  font-size: 1rem;
  padding: 0px 20px;
 }
.add-to-cart-div{
  width: 100%;
  margin-top:50px;
  padding: 0px 17px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 30px;
}
.bold{
  font-weight: bold;
  font-size: 16px;
}
.size{
  font-size: 16px;
  margin-bottom: 5px;
}

.second-section{
  margin-top: 0;
}

.child{
  width: 90%;
  height: auto;
  margin: auto;
  flex-direction: column;
  border: 1px solid;
}

.badge-img{
  display: none;
}
.store-img{
  width: 100%;
}
.text-child{
  width: 100%;
  height: 100%;
}
.inner-child{
  width: 100%;
  margin: 10px auto;
}
.inner-child h1{
  font-size: 22px;
  margin-bottom: 20px;
}
.inner-child ul li{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  margin-bottom: 16px;
}

}
@media (min-width:576px) and (max-width:992px) {
  nav{
    width: 90%;
    height: 80px;
    padding: 0px 16px;
  }
  nav ul{
  display: flex;
  gap: 0;
}
  nav a{
    display: none;
  }
  .banner{
    width: 90%;
    height: auto;
    padding: 0px 16px;
  }
  .hero-text{
    display: grid;
    place-items: end;
  }
  .hero-text h1{
    font-size: 35px;
  }
  .hero-text p{
    font-size: 20px;
  }
  
  .hero-img{
   display: grid;
   place-items: end;
  }
  .hero-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .cart-text h1{
  font-size: 2.4rem;
 }
 .cart-text p{
  font-size: 1rem;
  padding: 0px 20px;
 }

.add-to-cart-div{
  width: 100%;
  margin-top:50px;
  padding: 0px 17px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 30px;
}
.bold{
  font-weight: bold;
  font-size: 16px;
}
.size{
  font-size: 16px;
  margin-bottom: 5px;
}
.second-section{
  margin-top: 20px;
}
.badge-img{
  display: none;
}
.child{
  width: 90%;
  height: 350px;
  margin: auto;
  border: 1px solid;
}

.store-img{
  width: 50%;
}
.text-child{
  width: 50%;
  height: 100%;
}
.inner-child{
  width: 90%;
  margin: 30px auto;
}
.inner-child h1{
  font-size: 25px;
  margin-bottom: 5px;
}
.inner-child ul li{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  margin-bottom: 5px;
}

}

